<!DOCTYPE html>
<html>
<head th:replace="layout::head">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<div class="card">
					<div class="card-header">AUTENTICACIÓN</div>
					<div class="card-body">
						<form id="formlogin" method="post" th:action="@{/login}"
							th:object="${usuario}">
							<div class="mb-3">
								<label for="txtusuario" class="form-label">Usuario </label> <input
									type="text" class="form-control" id="txtusuario"
									th:field="*{nomusuario}">
							</div>
							<div class="mb-3">
								<label for="txtpassword" class="form-label">Password</label> <input
									class="form-control" type="password" id="txtpassword"
									th:field="*{passusuario}">
							</div>
							<hr />
							<div class="text-center">
								<button type="submit" class="btn btn-secondary">Ingresar</button>
							</div>
							<div class="text-center">
								No tienes cuenta, regístrate <a th:href="@{/registrar}">aquí</a>
							</div>
							<div th:if="${visualizar}" class="alert alert-danger"
								role="alert">
								<span th:text="${mensaje} ?: ''"></span>
							</div>
						</form>

					</div>
				</div>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>






</body>
</html>