<!DOCTYPE html>
<html>
<head th:replace="layout::head">
<meta charset="UTF-8">
</head>
<script type="text/javascript"
	th:src="@{/js/jsweb/Alumno/frmListAlumno.js}"></script>
<body>
	<nav th:replace="layout::menu"></nav>
	<div class="card">
		<div class="card-header">Listado de cursos</div>
		<div class="card-body">
			<div class="mb-3">
				<label class="form-label"> Especialidad</label> <select
					id="cboespecialidad" class="form-select">
					<option value="0" selected>Seleccione</option>
					<option th:each="especialidad :${listespecialidad}"
						th:text="${especialidad.nomesp}" th:value="${especialidad.idesp}"></option>

				</select>
			</div>
			<hr />
			<div id="tblalumno" class="row row-cols-1 row-cols-md-3"></div>
		</div>
	</div>

	<!-- Modal Eliminar Curso -->
	<div class="modal fade" id="modalcursosnotas" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Curso Nota</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table" id="tblcursonota">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">First</th>
								<th scope="col">Last</th>
								<th scope="col">Handle</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>